{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li><a href="{% url 'tools:tool' tool=tool.name %}">{{ tool.name }}</a></li>
  <li>{% trans "Phabricator projects" %}</li>
  <li class="active">{{ project }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<span class="cdx-card">
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{% trans "Project information" %}</span>
    <div>
      <dl class="dl-horizontal">
        <dt>{% trans "Name" %}</dt>
        <dd>{{ project }}</dd>
        <dt>{% trans "Primary hashtag" %}</dt>
        <dd>#{{ slug }}</dd>
        <dt>{% trans "View" %}</dt>
        <dd><a href="{{ project_url }}" class="striker-link">{% trans "view project on Phabricator" %}</a></dd>
      </dl>
    </div>
  </span>
</span>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
