# Exclude everything by default
*

# Conditionally include things we know we want in the container
!.eslintignore
!.eslintrc.json
# Copy .git/refs/heads/* into the container
!.git
.git/*
!.git/HEAD
!.git/refs/heads/*
!.pipeline
!.stylelintrc.json
!Gruntfile.js
!LICENSE
!README.rst
!contrib
!docs
docs/_build
!etc
!manage.py
!package.json
!package-lock.json
!poetry.lock
!pyproject.toml
!requirements.txt
!setup.cfg
!static
!striker
!test-requirements.txt
!tox.ini
!vite.config.mjs