*.pyc
/*.egg
/*.egg-info
/.coverage
/.env
/.pc
/.pybuild
/.python-version
/.tox
/.venv
/build
/cover
/db.sqlite3
/dist
/docs/_build
/staticfiles
/striker.ini
/striker/local_settings.py
/tests/cover
/vagrant_settings.py
