Babel!=2.3.0,!=2.3.1,!=2.3.2,!=2.3.3,>=1.3 # BSD
Django<1.9,>=1.8 # BSD
django-babel>=0.4.0 # BSD
django-compressor>=2.0 # MIT
django-pyscss>=2.0.2 # BSD License (2 clause)
pyScss>=1.3.4 # MIT License
python-ldap # Python style
six>=1.9.0 # MIT
