Django<1.9,>=1.8 # BSD
django-auth-ldap>=1.2.8 # BSD
django-bootstrap3<8.0.0,>=7.0.0 # Apache 2.0
django-ldapdb>=0.4.0 # BSD
mwoauth>=0.2.7 # MIT
oauthlib>=1.0.3 # BSD
PyJWT>=1.4.0 # MIT
python-ldap>=2.4.25 # Python style
requests-oauthlib>=0.6.1 # ISC
requests>=2.9.1 # Apache 2.0
six>=1.10.0 # MIT
