{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="panel panel-default col-sm-4 col-sm-offset-4">
      <div class="panel-body">
        <form method="post" action="{% url 'labsauth:login' %}" class="form hidden-labels">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          {% bootstrap_form form %}
          <div class="form-group">
            <label class="no-hide">
              <input type="checkbox" name="remember_me" value="true">
              {% trans "Remember me" %}
            </label>
          </div>
          {% buttons %}
          <input class="btn btn-primary col-xs-12" type="submit" value="{% trans "login" %}" />
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
