{% extends "labsauth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block panelbody %}
<div class="panel-body">
  <form method="post" action="{% url 'labsauth:login' %}" class="form hidden-labels">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% bootstrap_form form %}
    <div class="checkbox">
      <label class="no-hide">
        <input type="checkbox" name="remember_me" value="true">
        {% trans "Remember me" %}
      </label>
    </div>
    {% buttons %}
    <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "Login" %}" />
    {% endbuttons %}
  </form>
</div>
<div class="panel-footer">
  <p>{% trans "Need an LDAP account?" %} <a href="{% url 'register:index' %}">{% trans "Sign Up" %}</a></p>
</div>
{% endblock %}
