{% extends "labsauth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block panelbody %}
<div class="panel-body bg-info">
  {% blocktrans with oath_url='https://wikitech.wikimedia.org/wiki/Help:Two-factor_authentication' %}Please enter a verification code from your <a href="{{ oath_url }}">authentication device</a>{% endblocktrans %}
</div>
<div class="panel-body">
  <form method="post" action="{% url 'labsauth:oath' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% bootstrap_form form %}
    {% buttons %}
    <input class="btn btn-lg btn-success btn-block" type="submit" value="{% trans "Verify" %}" />
    {% endbuttons %}
  </form>
</div>
{% endblock %}
