{% extends "index/base.html" %}
{% load i18n %}

{% block membership_card %}
<span class="cdx-card">
  <span class="cdx-card__icon striker-icon--user-avatar"></span>
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{% trans "Get started" %}</span>
    <span class="cdx-card__text__description">
      {% url 'labsauth:login' as login_url %}
      {% url 'register:index' as register_url %}
      {% blocktrans with login_url=login_url register_url=register_url %}
        <a href="{{ login_url }}" class="striker-link">Log in</a>
        or
        <a href="{{ register_url }}" class="striker-link">sign up</a>
        to join {{ maintainers_count }} existing tool maintainers.
      {% endblocktrans %}
    </span>
  </span>
</span>
{% endblock %}
