{% extends "index/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block first_card %}
  {% with goal=user.milestones.nextGoal %}
    {% if goal.name %}
      {% with goal_template="goals/"|add:goal.name|add:".html" %}
        {% include goal_template with goal=goal %}
      {% endwith %}
    {% endif %}
  {% endwith %}
{% endblock %}

{% block settings_card %}
<span class="cdx-card">
  <span class="cdx-card__icon striker-icon--settings"></span>
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{% trans "Configure your account" %}</span>
    <span class="cdx-card__text__description">
      {% url 'profile:accounts' as settings_url %}
      {% blocktrans with settings_url=settings_url %}
        Manage your account, add SSH keys and more at
        <a href="{{ settings_url }}" class="striker-link">Settings</a>.
      {% endblocktrans %}
    </span>
  </span>
</span>
{% endblock %}
