{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Not found" %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <blockquote>
    <p>The <strong>404</strong> or <strong>Not Found</strong> error message is a <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">Hypertext Transfer Protocol</a> (HTTP) <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">standard response code</a>, in computer network communications, to indicate that the <a href="https://en.wikipedia.org/wiki/Web_browser">client</a> was able to communicate with a given <a href="https://en.wikipedia.org/wiki/Server_(computing)">server</a>, but the server could not find what was requested.</p>
    <footer>
      <a href="https://en.wikipedia.org/w/index.php?title=HTTP_404&oldid=733045782">&quot;HTTP 404.&quot;</a>
      <cite title="Wikipedia: The Free Encyclopedia">Wikipedia: The Free Encyclopedia.</cite>
      Wikimedia Foundation, Inc.
      5 August 2016.
      Web. 27 August 2016.
    </footer>
  </blockquote>

  <p>No handler found for the requested URI <code>{{request_path}}</code>.</p>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
