{% load membership %}
{% load bootstrap3 %}
{% load i18n %}
{% load notifications_tags %}
{% load static %}
{% load banner %}
{% load vite %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="imagetoolbar" content="no">
    <title>{% block fulltitle %}{% block title %}{% endblock title %} &mdash; {% trans "Toolforge admin console" %}{% endblock fulltitle %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
    <link rel="icon" type="image/x-icon" sizes="48x48" href="{% static "img/favicon.ico" %}">
    <link rel="mask-icon" href="{% static "img/safari-pinned-tab.svg" %}" color="#339966">
    <meta name="apple-mobile-web-app-title" content="Toolforge admin console">
    <meta name="application-name" content="Toolforge admin console">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% vite "static/css/striker.less" %}">
    {% block css %}{% endblock css %}
  </head>
  <body>
    {% environment_banner as banner_contents %}
    {% if banner_contents %}
      <div class="environment-banner">
        {{ banner_contents }}
      </div>
    {% endif %}
    {% block navbar %}
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">
            <img alt="{% trans "Toolforge admin console" %}" src="{% static "img/favicon-32x32.png" %}">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% url 'index' as index %}
            <li class="{% if request.path == index %}active{% endif %}"><a href="{{ index }}">{% bootstrap_icon "home" %} {% trans "Home" %}</a></li>
            <li class="{% if '/tools/' in request.path and '/tools/membership/' not in request.path %}active{% endif %}"><a href="{% url 'tools:index' %}">{% bootstrap_icon "wrench" %} {% trans "Tools" %}</a></li>
            {% if user|is_admin %}
              <li class="{% if '/tools/membership/' in request.path %}active{% endif %}">
                <a href="{% url 'tools:membership' %}">
                  {% bootstrap_icon "user" %} {% trans "Membership" %}
                  {% open_access_requests as pending %}
                  {% if pending != 0 %}
                    <span class="badge">{{ pending }}</span>
                  {% endif %}
                </a>
              </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% with unread=user.notifications.unread.count %}
            <li class="{% if '/alerts/' in request.path %}active{% endif %}"><a href="{% url 'notifications:unread' %}">{% bootstrap_icon "bell" %} {% trans "Alerts" %} {% if unread != 0 %}<span id="live_notify_badge" class="badge">{{ unread }}</span>{% endif %}</a></li>
            {% endwith %}
            <li class="dropdown {% if '/profile/' in request.path %}active{% endif %}">
              <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="{% url 'profile:nojs' %}">{{ user }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'profile:accounts' %}">{% bootstrap_icon "cog" %} {% trans "Settings" %}</a></li>
                  <li><a href="{% url 'labsauth:logout' %}">{% bootstrap_icon "log-out" %} {% trans "Logout" %}</a></li>
              </ul>
            </li>
            {% else %}
            {% url 'labsauth:login' as login %}
            <li class="{% if request.path == login %}active{% endif %}"><a href="{{ login }}?next={% block login_next %}{{ request.path|urlencode }}{% endblock %}">{% bootstrap_icon "log-in" %} {% trans "Login" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock navbar %}
    {% block banner %}{% endblock banner %}
    <div id="content" class="container-fluid">
      {% block pre_content %}
      {% if messages %}
      <div class="striker-messages striker-mb">
        {% for message in messages %}
        <div
          class="cdx-message cdx-message--block {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}cdx-message--error{% else %}cdx-message--notice{% endif %}"
          aria-live="polite"
        >
          <span class="cdx-message__icon"></span>
          <div class="cdx-message__content">
            <p>{{ message }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endblock pre_content %}
      {% block content %}<p>{{ request.path }}: Your message here.</p>{% endblock content %}
      {% block post_content %}{% endblock post_content %}
    </div>
    <footer class="footer text-muted text-right" role="contentinfo">
      <div class="container">
        <div class="row">
          <hr>
        </div>
        <div class="row">
        <ul class="list-inline">
          <li><a href="https://wikimediafoundation.org/wiki/Privacy_policy">{% trans "Privacy policy" %}</a></li>
          <li><a href="https://wikimediafoundation.org/wiki/Terms_of_Use">{% trans "Terms of Use" %}</a></li>
          <li><a href="https://www.mediawiki.org/wiki/Code_of_Conduct">{% trans "Code of Conduct" %}</a></li>
          <li><a href="https://phabricator.wikimedia.org/diffusion/LSTR/">{% trans "Source" %}</a></li>
          <li><a href="https://phabricator.wikimedia.org/tag/striker/">{% trans "Issues" %}</a></li>
          <li><a href="https://wikitech.wikimedia.org/wiki/Toolsadmin.wikimedia.org">{% trans "Docs" %}</a></li>
        </ul>
      </div>
      <div class="row">
        <p>Code licensed <a href="https://phabricator.wikimedia.org/diffusion/LSTR/browse/master/LICENSE" rel="license">GPLv3+</a>, docs <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC BY-SA 3.0</a>.
        </div>
      </div>
    </footer>
    {% block js %}
    <script lang="javascript" src="{% static 'notifications/notify.js' %}"></script>
    <script lang="javascript" src="{% static "js/thirdparty/jquery.min.js" %}"></script>
    <script lang="javascript" src="{% static "js/thirdparty/bootstrap.min.js" %}"></script>
    <script lang="javascript" src="{% vite "static/js/striker.mjs" %}"></script>
    {% endblock js %}
  </body>
</html>
