{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li><a href="{% url 'tools:tool' tool=tool.name %}">{{ tool.name }}</a></li>
  <li>{% trans "toolinfo" %}</li>
  <li><a href="{% url 'tools:info_read' tool=tool.name info_id=toolinfo.pk %}">{{ toolinfo.title }}</a></li>
  <li><a href="{% url 'tools:info_history' tool=tool.name info_id=toolinfo.pk %}">{% trans "history" %}</a></li>
  <li>{{ version.revision.date_created|date:"c" }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="striker-card-group">
      {% if can_suppress or not version.suppressed %}
      <div class="panel panel-{% if version.suppressed %}danger{% else %}default{% endif %}">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{% trans "Date" %}</dt>
            <dd class="{% if version.suppressed %}history-deleted{% endif %}">{{ version.revision.date_created|date:"c" }}</dd>
            <dt>{% trans "User" %}</dt>
            <dd class="{% if version.suppressed %}history-deleted{% endif %}">{{ version.revision.user }}</dd>
            <dt>{% trans "Comment" %}</dt>
            <dd class="{% if version.suppressed %}history-deleted{% endif %}">{{ version.revision.comment|default:"" }}</dd>
          </dl>
        </div>
      </div>
      {% include "tools/info/record.html" %}
      {% else %}{# suppressed #}
      <div class="panel panel-danger">
        <div class="panel-body">
          {% trans "This toolinfo revision has been hidden." %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
