{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %}{% endblock %}
{% block content %}
<ul>
    <li>ldapname: {{ user.ldapname }}</li>
    <li>ldapemail: {{ user.ldapemail }}</li>
    <li>shellname: {{ user.shellname }}</li>
    <li>sulname: {{ user.sulname }}</li>
    <li>sulemail: {{ user.sulemail }}</li>
    <li>realname: {{ user.realname }}</li>
    <li>oauthtoken: {{ user.oauthtoken }}</li>
    <li>oauthsecret: {{ user.oauthsecret }}</li>
    <li>is_staff: {{ user.is_staff }}</li>
    <li>is_active: {{ user.is_active }}</li>
    <li>created_at: {{ user.created_at }}</li>
    <li>updated_at: {{ user.updated_at }}</li>
</ul>
{% endblock %}
