.container {
  width:auto;
  max-width:1024px;
  padding:0 1em;
}
.navbar-static-top {
  margin-bottom:1em;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding:10px;
}
.user-image-large {
  height:80px;
  width:80px;
}
.user-image-small {
  height:28px;
  width:28px;
}
.login-panel {
  margin-top:25%;
}
form.hidden-labels label {
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}
form.hidden-labels label.no-hide {
  height:initial;
  left:initial;
  overflow:initial;
  position:initial;
  top:initial;
  width:initial;
}
.tools-maintainers,
.tools-diffusion-repos {
  -webkit-column-gap:2em;
  -moz-column-gap:2em;
  column-gap:2em;
  -webkit-column-width:30ch;
  -moz-column-width:30ch;
  column-width:30ch;
}
.panel-pager .panel-title {
  padding-top:.5em;
}
.panel-pager .panel-footer {
  text-align:center;
}
.panel-pager .pagination {
  margin:0;
}
.text-2x {
  font-size:2em;
}
.text-5x {
  font-size:5em;
}
.footer {
  margin-top:2em;
}
.panel-body-warning {
  background-color:#fcf8e3;
  color:#8a6d3b;
}
.panel-success > .panel-heading > .text-muted {
  color:inherit;
}
.margin-zero {
  margin:0;
}
/* From http://stackoverflow.com/a/31967401/8171 */
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
.pubkey-view {
  font-family:monospace;
  font-size:smaller;
  white-space:pre-wrap;
  word-break:break-all;
}
