body {
  /* min-height:2000px; */
}
.container {
  width:auto;
  max-width:1024px;
  padding:0 1em;
}
.navbar-static-top {
  margin-bottom:1em;
}
.user-image-large {
  height:80px;
  width:80px;
}
.user-image-small {
  height:28px;
  width:28px;
}
