{% extends "base.html" %}
{% load bootstrap3 %}
{% load fontawesome %}
{% load i18n %}

{% block pre_content %}
{% url 'profile:accounts' as settings_accounts %}
{% url 'profile:ssh_keys' as settings_ssh_keys %}
{{ block.super }}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% bootstrap_icon "cog" %} {% trans "Settings" %}</h3>
        </div>
        <div class="list-group" role="navigation">
            <a class="list-group-item {% if request.path == settings_accounts %}active{% endif %}" href="{{ settings_accounts }}">{% bootstrap_icon "user" %} {% trans "Linked accounts" %}</a>
            <a class="list-group-item {% if request.path == settings_ssh_keys %}active{% endif %}" href="{{ settings_ssh_keys }}">{% fa_icon "key" %} {% trans "SSH keys" %}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
{% endblock pre_content %}

{% block post_content %}
    </div>
  </div>
</div>
{% endblock post_content %}
