{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block pre_content %}
{% url 'profile:ldap' as settings_ldap %}
{% url 'profile:sul' as settings_sul %}
{{ block.super }}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">{% trans "Settings" %}</div>
        <div class="list-group" role="navigation">
          <a class="list-group-item {% if request.path == settings_ldap %}active{% endif %}" href="{{ settings_ldap }}">{% trans "LDAP account" %}</a>
          <a class="list-group-item {% if request.path == settings_sul %}active{% endif %}" href="{{ settings_sul }}">{% trans "SUL account" %}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
{% endblock pre_content %}

{% block post_content %}
    </div>
  </div>
</div>
{% endblock post_content %}
