{% extends "profile/settings/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Change developer account password" %}</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="{% url 'profile:change_password' %}" class="form parsley">
      {% csrf_token %}
      <input type="hidden" name="ldapname" value="{{ change_password_form.user.ldapname }}" class="personal">
      <input type="hidden" name="ldapemail" value="{{ change_password_form.user.ldapemail }}" class="personal">
      <input type="hidden" name="shellname" value="{{ change_password_form.user.shellname }}" class="personal">
      <input type="hidden" name="sulname" value="{{ change_password_form.user.sulname }}" class="personal">
      <input type="hidden" name="sulemail" value="{{ change_password_form.user.sulemail }}" class="personal">
      <input type="hidden" name="phabname" value="{{ change_password_form.user.phabname }}" class="personal">
      <input type="hidden" name="phabrealname" value="{{ change_password_form.user.phabrealname }}" class="personal">
      {% bootstrap_field change_password_form.old_password %}
      {% bootstrap_field change_password_form.passwd %}
      {% include "_password-strength-meter.html" %}
      {% bootstrap_field change_password_form.confirm %}
      {% buttons %}
      <button class="btn btn-primary" type="submit">{% trans "Update password" %}</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script lang="javascript" src="{% static 'js/parsley.min.js' %}"></script>
<script lang="javascript" src="{% static 'js/parsley-bootstrap.js' %}"></script>
<script lang="javascript" src="{% static 'js/zxcvbn.min.js' %}"></script>
<script lang="javascript" src="{% static 'js/password-strength.js' %}"></script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
