{% extends "profile/settings/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Phabricator settings" %}{% endblock %}
{% block content %}
{% if user.phid %}
<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>{% trans "Username" %}</dt><dd>{{ user.phabname }}</dd>
      <dt>{% trans "Real name" %}</dt><dd>{{ user.phabrealname }}</dd>
      <dt>{% trans "Profile" %}</dt><dd><a href="{{ user.phaburl }}">{{ user.phaburl }}</a></dd>
    </dl>
  </div>
</div>
{% else %}
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">{% bootstrap_icon "pushpin" %} {% trans "Linked Phabricator account not found" %}</h3>
  </div>
  <div class="panel-body">
    <p>{% blocktrans with url=phab_url%}Login to <a href="{{ url }}">Phabricator</a> using your LDAP username and password to create a Phabricator account. If you have an existing Phabricator account, connect your LDAP account as an <a href="{{url}}/settings/panel/external/">additional external account</a> after logging in normally.{% endblocktrans %}</p>
  </div>
</div>
{% endif %}
{% endblock %}
