{% extends "profile/settings/base.html" %}
{% load i18n %}

{% block title %}{% trans "Phabricator settings" %}{% endblock %}
{% block content %}
{% if user.phid %}
<img class="user-image-large pull-right" src="{{ user.phabimage }}">
<ul>
  <li>{% trans "Username" %}: {{ user.phabname }}</li>
  <li>{% trans "Real name" %}: {{ user.phabrealname }}</li>
  <li>{% trans "Profile" %}: <a href="{{ user.phaburl }}">{{ user.phaburl }}</a></li>
</ul>
{% else %}
<p class="alert alert-warning">{% trans "Linked Phabricator account not found." %}</p>
{% endif %}
{% endblock %}
