{% extends "profile/settings/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "SSH keys" %}{% endblock %}
{% block content %}
{% trans "Show" as show %}
{% trans "Hide" as hide %}
{% for key in ssh_keys %}
<details class="cdx-accordion">
  <summary>
    <h3 class="cdx-accordion__header">
      <span class="cdx-accordion__header__title">
        {{ key.comment }} ({{ key.bits }} {{ key.type_name }})
      </span>
    </h3>
  </summary>
  <div class="cdx-accordion__content">
    <dl class="dl-horizontal margin-zero">
      <dt>{% trans "Fingerprint" %}</dt>
      <dd>{{ key.hash_md5 }}</dd>
      <dd>{{ key.hash_sha256 }}</dd>
      <dt>{% trans "Contents" %}</dt>
      <dd class="striker-mb">
        <div class="well well-sm margin-zero pubkey-view">{{ key.keydata }}</div>
      </dd>
      <dt>{% trans "Actions" %}</dt>
      <dd>
        <form method="post" action="{% url 'profile:ssh_key_delete' %}">
          {% csrf_token %}
          {% bootstrap_form key.form %}
          {% trans "Delete" as delete_title %}
          <button class="cdx-button cdx-button--weight-primary cdx-button--action-destructive" type="submit" title="{{ delete_title }}" aria-label="{{ delete_title }}" >
            <span class="striker-icon--trash-inverted" aria-hidden="true"></span>
            Delete
          </button>
        </form>
      </dd>
    </dl>
  </div>
</details>
{% endfor %}
<details class="cdx-accordion" {% if not ssh_keys %}open{% endif %}>
  <summary>
    <h3 class="cdx-accordion__header">
      <span class="cdx-accordion__header__title">
        {% trans "New SSH key" %}
      </span>
    </h3>
  </summary>
  <div class="cdx-accordion__content">
    <form method="post" action="{% url 'profile:ssh_key_add' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form new_key %}
      {% buttons %}
      <button class="cdx-button cdx-button--action-progressive cdx-button--weight-primary" type="submit">{% trans "Add SSH key" %}</button>
      {% endbuttons %}
    </form>
  </div>
</details>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
