{% load fontawesome %}
{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{% fa_icon "user-circle" "lg" "fw" aria_hidden="true" %} {% trans "Wikitech/Labs/Gerrit LDAP account" %}</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>{% trans "Username" %}</dt><dd>{{ user.ldapname }}</dd>
      <dt>{% trans "Shell account name" %}</dt><dd>{{ user.shellname }}</dd>
      <dt>{% trans "Email" %}</dt><dd>{{ user.ldapemail }}</dd>
    </dl>
  </div>
</div>
