{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Tools" %}{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">{% trans "Your tools" %}</div>
  <div class="list-group">
    {% for tool in tools %}
    <a href="{% url 'tools:tool' tool=tool %}" class="list-group-item">{{ tool }}</a>
    {% empty %}
    <div class="list-group-item">{% blocktrans with url='https://tools.wmflabs.org/' %}Your account is not associated with any tools. Visit <a href="{{ url }}">tools.wmflabs.org</a> to find a existing tool to join or create a new tool.{% endblocktrans %}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
