{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li><a href="{% url 'tools:tool' tool=tool.name %}">{{ tool.name }}</a></li>
  <li>{% trans "Repositories" %}</li>
  <li class="active">{{ name }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<span class="cdx-card">
  <span class="cdx-card__text striker-fullwidth">
    <span class="cdx-card__text__title">{% trans "Repository information" %}</span>
    <div>
      <dl class="dl-horizontal">
        <dt>{% trans "Name" %}</dt>
        <dd>{{ name }}</dd>
        <dt>{% trans "Clone" %}</dt>
        <dd>
            {% for u in urls %}
            <div class="form-cdx-text-input striker-mb-sm">
              <input value="{{ u }}" type="text" class="cdx-text-input__input" readonly>
            </div>
            {% endfor %}
        </dd>
        <dt>{% trans "View" %}</dt>
        <dd><a href="{{ web_url }}" class="striker-link">{% trans "browse repository on GitLab" %}</a></dd>
      </dl>
    </div>
  </span>
</span>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
