{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load tools %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li><a href="{% url 'tools:tool' tool=tool.name %}">{{ tool.name }}</a></li>
  <li>{% trans "Repositories" %}</li>
  <li class="active">{{ repo }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Repostory information" %}</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>{% trans "Name" %}</dt>
        <dd>{{ repo }}</dd>
        <dt>{% trans "Clone" %}</dt>
        <dd><form>
            {% for u in urls %}
            <div class="form-group">
              <input value="{{ u }}" type="text" class="form-control input-sm" readonly>
            </div>
            {% endfor %}
        </form></dd>
        <dt>{% trans "Status" %}</dt>
        <dd>{{ status }}</dd>
        <dt>{% trans "View" %}</dt>
        <dd><a href="{{ phab_url }}/diffusion/{{ repo_id }}/">{% trans "browse repository on Phabricator" %}</a></dd>
      </dl>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">{% trans "Policies" %}</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>{% trans "View" %}</dt>
        <dd>{% phab_policy policy.view phids %}</dd>
        <dt>{% trans "Edit" %}</dt>
        <dd>{% phab_policy policy.edit phids %}</dd>
        <dt>{% trans "Push" %}</dt>
        <dd>{% phab_policy policy.push phids %}</dd>
      </dl>
    </div>
  </div>
</div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
