{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li class="active">{{ tool.name }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<div class="panel-group" role="tablist">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="maintainers">
      <h3 class="panel-title">{% bootstrap_icon "user" %} {% trans "Maintainers" %}</h3>
    </div>
    <div class="panel-body">
      <ul class="tools-maintainers">
        {% for maintainer in tool.maintainers|dictsort:"full_name" %}
        <li>{{ maintainer.full_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="diffusion">
      <h3 class="panel-title">{% bootstrap_icon "hdd" %} {% trans "Diffusion repositories" %}</h3>
    </div>
    <div class="panel-body">
      <ul class="tools-diffusion-repos">
        {% for repo in repos %}
        <li><a href="{% url 'tools:repo_view' tool=tool.name repo=repo.name %}">{{ repo.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% if can_edit %}
    <div class="panel-footer">
      <p><a href="{% url 'tools:repo_create' tool=tool.name %}" class="btn btn-default">{% bootstrap_icon "plus" %} {% trans "Create new repository" %}</a></p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
