{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% blocktrans with name=tool.name %}Tool: {{ name }}{% endblocktrans %}{% endblock %}

{% block pre_content %}
<ol class="breadcrumb">
  <li><a href="{% url 'tools:index' %}">{% trans "Tools" %}</a></li>
  <li class="active">{{ tool.name }}</li>
</ol>
{{ block.super }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-push-3 panel-group">
      {% for info in toolinfo %}
      <div class="panel panel-info panel-pager">
        {% include "tools/info/revision/header.html" with toolinfo=info %}
        {% include "tools/info/revision/body.html" with toolinfo=info %}
        {% if forloop.last and can_edit %}
        <div class="panel-body">
          <a href="{% url 'tools:info_create' tool=tool.name %}" class="btn btn-default btn-sm pull-right">{% bootstrap_icon "plus" %} {% trans "add toolinfo" %}</a>
        </div>
        {% endif %}
      </div>
      {% empty %}
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">
            {% bootstrap_icon "wrench" %}
            {% trans "No toolinfo records found" %}
          </h3>
        </div>
        <div class="panel-body">
          {% blocktrans %}Creating a toolinfo description is required for new tools and recommended for all tools.{% endblocktrans %}
        </div>
        {% if can_edit %}
        <div class="panel-body">
          <a href="{% url 'tools:info_create' tool=tool.name %}" class="btn btn-default btn-sm pull-right">{% bootstrap_icon "plus" %} {% trans "add toolinfo" %}</a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-3 col-sm-pull-9 panel-group">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="maintainers">
          <h3 class="panel-title">{% bootstrap_icon "user" %} {% trans "Maintainers" %}</h3>
        </div>
        <ul class="list-group">
          {% for maintainer in tool.maintainers|dictsort:"cn" %}
          <li class="list-group-item">{{ maintainer.cn }}</li>
          {% endfor %}
          {% for maintainer in tool.tool_members|dictsort:"cn" %}
          <li class="list-group-item">{{ maintainer.cn }}</li>
          {% endfor %}
        </ul>
        {% if can_edit %}
        <div class="list-group">
          <a class="list-group-item" href="{% url 'tools:maintainers' tool=tool.name %}">{% bootstrap_icon "edit" %} {% trans "manage maintainers" %}</a>
        </div>
        {% endif %}
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="diffusion">
          <h3 class="panel-title">{% bootstrap_icon "hdd" %} {% trans "Diffusion repositories" %}</h3>
        </div>
        <div class="list-group">
          {% for repo in repos %}
          <a class="list-group-item" href="{% url 'tools:repo_view' tool=tool.name repo=repo.name %}">{{ repo.name }}</a>
          {% endfor %}
        </div>
        {% if can_edit %}
        <div class="list-group">
          <a class="list-group-item" href="{% url 'tools:repo_create' tool=tool.name %}">{% bootstrap_icon "plus-sign" %} {% trans "create repository" %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
