{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Create an LDAP account" %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-header">{% trans "Create an LDAP account" %}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel-group">
        {% block step-oauth %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 0 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "globe" %} {% trans "Login with your Wikimedia unified account" %}</span>
          </div>
        </div>
        {% endblock %}
        {% block step-ldap %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 1 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "user" %} {% trans "Choose your LDAP username" %}</span>
          </div>
        </div>
        {% endblock %}
        {% block step-shell %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 2 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "hdd" %} {% trans "Choose your UNIX shell username" %}</span>
          </div>
        </div>
        {% endblock %}
        {% block step-email %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 3 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "envelope" %} {% trans "Add your email address" %}</span>
          </div>
        </div>
        {% endblock %}
        {% block step-password %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 4 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "lock" %} {% trans "Set your password" %}</span>
          </div>
        </div>
        {% endblock %}
        {% block step-confirm %}
        <div class="panel panel-{% if wizard.steps.step1|default:-1 > 5 %}success{% else %}default{% endif %}">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "check" %} {% trans "Create account" %}</span>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="col-sm-6">
      {% block left-col %}
      <div class="panel panel-default">
        <div class="panel-heading">
          {% bootstrap_icon "info-sign" %} {% trans "About Tool Labs accounts" %}
        </div>
        <div class="panel-body">
          {% blocktrans %}<strong>Tool Labs</strong> shares an account system with many other technical tools used by Wikimedians. The <a href="https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol/">LDAP</a> user account used here also works with <a href="https://wikitech.wikimedia.org/">Wikitech</a>, <a href="https://gerrit.wikimedia.org/">Gerrit</a>, <a href="https://phabricator.wikimedia.org/">Phabricator</a>, and other tools designed to help our technical contributors build and maintain software. These accounts are separate from the <a href="https://meta.wikimedia.org/wiki/Help:Unified_login">Wikimedia unified accounts</a> that are used by most <a href="https://meta.wikimedia.org/wiki/Wikimedia_wikis">Wikimedia wikis</a>.{% endblocktrans %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script lang="javascript" src="{% static 'js/parsley.min.js' %}"></script>
<script lang="javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
