{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load vite %}

{% block title %}{% trans "Create a Wikimedia developer account" %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-header">{% trans "Create a Wikimedia developer account" %}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="striker-card-group">
        {% block step-oauth %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 0 %}striker-icon--check-success{% else %}striker-icon--logo-wikimedia{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Login with your Wikimedia account" %}</span>
          </span>
        </span>
        {% endblock %}
        {% block step-ldap %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 1 %}striker-icon--check-success{% else %}striker-icon--user-avatar{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Choose your developer account username" %}</span>
          </span>
        </span>
        {% endblock %}
        {% block step-shell %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 2 %}striker-icon--check-success{% else %}striker-icon--keyboard{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Choose your UNIX shell username" %}</span>
          </span>
        </span>
        {% endblock %}
        {% block step-email %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 3 %}striker-icon--check-success{% else %}striker-icon--message{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Add your email address" %}</span>
          </span>
        </span>
        {% endblock %}
        {% block step-password %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 4 %}striker-icon--check-success{% else %}striker-icon--lock{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Set your password" %}</span>
          </span>
        </span>
        {% endblock %}
        {% block step-confirm %}
        <span class="cdx-card">
          <span class="cdx-card__icon {% if wizard.steps.step1|default:-1 > 5 %}striker-icon--check-success{% else %}striker-icon--check{% endif %}"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Create account" %}</span>
          </span>
        </span>
        {% endblock %}
      </div>
    </div>
    <div class="col-sm-6">
      {% block left-col %}
      <div class="striker-card-group">
        <span class="cdx-card">
          <span class="cdx-card__icon striker-icon--user-avatar"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "About Wikimedia developer accounts" %}</span>
            <span class="cdx-card__text__description">
              {% blocktrans %}<strong>Toolforge</strong> shares an account system with many other technical tools used by Wikimedians. The developer account used here also works with <a href="https://gerrit.wikimedia.org/" class="striker-link">Gerrit</a>, <a href="https://phabricator.wikimedia.org/" class="striker-link">Phabricator</a>, and other tools designed to help our technical contributors build and maintain software. This developer account is separate from the <a href="https://meta.wikimedia.org/wiki/Help:Unified_login" class="striker-link">Wikimedia accounts</a> that are used by most <a href="https://meta.wikimedia.org/wiki/Wikimedia_wikis" class="striker-link">Wikimedia wikis</a>.{% endblocktrans %}
            </span>
          </span>
        </span>
        <span class="cdx-card">
          <span class="cdx-card__icon striker-icon--notice"></span>
          <span class="cdx-card__text">
            <span class="cdx-card__text__title">{% trans "Privacy notices" %}</span>
            <span class="cdx-card__text__description">
              {% blocktrans %}Creating and using a developer account will expose some information to other Cloud Services users:{% endblocktrans %}
              <ul>
                <li>{% blocktrans %}The email address you associate with your developer account <strong>will</strong> be publically visible.{% endblocktrans %}</li>
                <li>{% blocktrans %}Your IP address <strong>will</strong> be recorded and <strong>may</strong> be visible to other users of Cloud VPS and Toolforge when you connect to virtual machines using SSH.{% endblocktrans %}</li>
              </ul>
            </span>
          </span>
        </span>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script lang="javascript" src="{% static 'js/thirdparty/parsley.min.js' %}"></script>
<script lang="javascript" src="{% vite 'static/js/parsley-bootstrap.mjs' %}"></script>
{% block step_js %}{% endblock %}
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
