{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-confirm %}
<form method="post" action="" class="form parsley">
  {% csrf_token %}
  {{ wizard.management_form }}
  <span class="cdx-card">
    <span class="cdx-card__icon striker-icon--check"></span>
    <span class="cdx-card__text">
      <span class="cdx-card__text__title">{% trans "Create account" %}</span>
      <span class="cdx-message cdx-message--block cdx-message--warning">
        <span class="cdx-message__content">
          {% blocktrans with TOU='https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use' CoC='https://www.mediawiki.org/wiki/Code_of_Conduct'%}
            By creating an account in this project and/or using other wmflabs.org Services, you agree to comply with the
            <a href="{{ TOU }}" class="striker-link">Terms of Use</a> for wmflabs.org. In particular, you agree not to
              collect, store, or share private data or personally identifiable information, such as user names,
              passwords, or IP addresses from the individuals using your Wikimedia VPS Project, except when complying
              with the conditions listed in the <a href="{{ TOU }}" class="striker-link">Terms of Use</a>. You further
              agree to abide by the <a href="{{ CoC }}" class="striker-link">Code of Conduct for Wikimedia technical
              spaces</a>.
          {% endblocktrans %}
        </span>
      </span>
      <dl class="dl-horizontal cdx-card__text__description">
        <dt>{% trans "Wikimedia account" %}</dt>
        <dd>{{ sul.username }}</dd>
        <dt>{% trans "Developer username" %}</dt>
        <dd>{{ forms.ldap.cleaned_data.username }}</dd>
        <dt>{% trans "Shell username" %}</dt>
        <dd>{{ forms.shell.cleaned_data.shellname }}</dd>
        <dt>{% trans "Email address" %}</dt>
        <dd>{{ forms.email.cleaned_data.email }}</dd>
      </dl>
      {% bootstrap_form wizard.form %}
      <span class="cdx-card__text__description">
        <button class="cdx-button cdx-button--weight-primary cdx-button--action-progressive pull-right" type="submit">{% trans "Create account" %}</button>
        <a class="striker-link pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% trans "Previous" %}</a>
      </span>
    </span>
  </span>
</form>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
