{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-oauth %}
<span class="cdx-card">
  <span class="cdx-card__icon striker-icon--block-destructive"></span>
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{% trans "Account creation temporarily disabled" %}</span>
    <span class="cdx-card__text__description">{% blocktrans %}Developer account creation is currently disabled. We
      apologise for the inconvenience.{% endblocktrans %}</span>
  </span>
</span>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
