{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-email %}
<form method="post" action="" class="form parsley">
  {% csrf_token %}
  {{ wizard.management_form }}
  <span class="cdx-card">
    <span class="cdx-card__icon striker-icon--message"></span>
    <span class="cdx-card__text">
      <span class="cdx-card__text__title">{% trans "Add your email address" %}</span>
      <span class="cdx-card__text__description">
        {% blocktrans %}
        A valid email address is required to use Toolforge. Toolforge administrators may need to contact you concerning your tools and other processes running in Wikimedia VPS. This email address <strong>will</strong> be publically visible.
        {% endblocktrans %}
      </span>
      {% bootstrap_form wizard.form %}
      <span class="cdx-card__text__description">
        <button class="cdx-button cdx-button--weight-primary cdx-button--action-progressive pull-right" type="submit">{% trans "Next" %}</button>
        <a class="striker-link pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% trans "Previous" %}</a>
      </span>
    </span>
  </span>
</form>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
