{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Create an LDAP account" %}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-header">{% trans "Create an LDAP account" %}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{% bootstrap_icon "globe" %} {% trans "Login with your Wikimedia unified account" %}</h3>
          </div>
          <div class="panel-body">
            <p>{% blocktrans %}Login with your Wikimedia unified account to get started creating a new LDAP account.{% endblocktrans %}</p>
            <p><a href="{% url 'labsauth:oauth_initiate' %}?next={% url 'register:index' %}" class="btn btn-primary btn-block">{% bootstrap_icon "log-in" %} Login using OAuth</a></p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "user" %} {% trans "Choose your LDAP username" %}</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "hdd" %} {% trans "Choose your UNIX shell username" %}</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "envelope" %} {% trans "Add your email address" %}</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="text-muted">{% bootstrap_icon "lock" %} {% trans "Set your password" %}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-warning">
        <div class="panel-body panel-body-warning">
          {% bootstrap_icon "exclamation-sign" %}
          {% blocktrans %}By creating an account in this project and/or using other wmflabs.org Services, you agree to comply with the <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a> for wmflabs.org. In particular, you agree not to collect, store, or share private data or personally identifiable information, such as user names, passwords, or IP addresses from the individuals using your Labs Project, except when complying with the conditions listed in the <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Labs_Terms_of_use">Terms of Use</a>.{% endblocktrans %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          {% bootstrap_icon "info-sign" %} {% trans "About Tool Labs accounts" %}
        </div>
        <div class="panel-body">
          {% blocktrans %}<strong>Tool Labs</strong> shares an account system with many other technical tools used by Wikimedians. The <a href="https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol/">LDAP</a> user account used here also works with <a href="https://wikitech.wikimedia.org/">Wikitech</a>, <a href="https://gerrit.wikimedia.org/">Gerrit</a>, <a href="https://phabricator.wikimedia.org/">Phabricator</a>, and other tools designed to help our technical contributors build and maintain software. These accounts are separate from the <a href="https://meta.wikimedia.org/wiki/Help:Unified_login">Wikimedia unified accounts</a> that are used by most <a href="https://meta.wikimedia.org/wiki/Wikimedia_wikis">Wikimedia wikis</a>.{% endblocktrans %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
