{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-oauth %}
<span class="cdx-card">
  <span class="cdx-card__icon striker-icon--logo-wikimedia"></span>
  <span class="cdx-card__text">
    <span class="cdx-card__text__title">{% trans "Login with your Wikimedia account" %}</span>
    <span class="cdx-card__text__supporting-text">
      {% blocktrans with oauth="https://www.mediawiki.org/wiki/Special:MyLanguage/Help:OAuth" %}
      Login with your Wikimedia account using <a href="{{ oauth }}" class="striker-link">OAuth</a> to get started creating a new developer account.
      {% endblocktrans %}
    </span>
    <span class="cdx-card__text">
      <a href="{% url 'labsauth:oauth_initiate' %}?next={% url 'register:oauth' %}" class="striker-link">
        {% trans 'Login using Wikimedia account' %}
      </a>
    </span>
  </span>
</span>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
