{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-ldap %}
<form method="post" action="" class="form parsley">
  {% csrf_token %}
  {{ wizard.management_form }}
  <span class="cdx-card">
    <span class="cdx-card__icon striker-icon--user-avatar"></span>
    <span class="cdx-card__text">
      <span class="cdx-card__text__title">{% trans "Choose your developer username" %}</span>
      <span class="cdx-card__text__description">
        {% blocktrans %}Developer account usernames are commonly either the same as a user's Wikimedia account username or their real name (e.g. "Jimmy Wales").{% endblocktrans %}
      </span>
      {% bootstrap_form wizard.form %}
      <span class="cdx-card__text__description">
        <button class="cdx-button cdx-button--weight-primary cdx-button--action-progressive pull-right" type="submit">{% trans "Next" %}</button>
        <a class="striker-link pull-left" href="{% url 'register:index' %}">{% trans "Previous" %}</a>
      </span>
    </span>
  </span>
</form>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
