{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load vite %}

{% block step-password %}
<form method="post" action="" class="form parsley">
  {% csrf_token %}
  {{ wizard.management_form }}
  <input type="hidden" name="ldapname" value="{{ forms.ldap.cleaned_data.username }}" class="personal">
  <input type="hidden" name="shellname" value="{{ forms.shell.cleaned_data.shellname }}" class="personal">
  <input type="hidden" name="ldapemail" value="{{ forms.email.cleaned_data.email }}" class="personal">
  <input type="hidden" name="sulname" value="{{ sul.username }}" class="personal">
  <span class="cdx-card">
    <span class="cdx-card__icon striker-icon--lock"></span>
    <span class="cdx-card__text">
      <span class="cdx-card__text__title">{% trans "Set your password" %}</span>
      <span class="cdx-card__text__description">
        {% blocktrans %}
        Your password must be at least 10 characters long. You should not re-use an existing password.
        {% endblocktrans %}
      </span>
      {% bootstrap_field wizard.form.passwd %}
      {% include "_password-strength-meter.html" %}
      {% bootstrap_field wizard.form.confirm %}
      <span class="cdx-card__text__description">
        <button class="cdx-button cdx-button--weight-primary cdx-button--action-progressive pull-right" type="submit">{% trans "Next" %}</button>
        <a class="striker-link pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% trans "Previous" %}</a>
      </span>
    </span>
  </span>
</form>
{% endblock %}

{% block step_js %}
<script lang="javascript" src="{% vite 'static/js/password-strength.mjs' %}"></script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
