{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-password %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% bootstrap_icon "lock" %} {% trans "Set your password" %}</h3>
  </div>
  <div class="panel-body">
    <p>{% blocktrans %}Your password must be at least 10 characters long.{% endblocktrans %}</p>
    <form method="post" action="" class="form">
      {% csrf_token %}
      {{ wizard.management_form }}
      {% bootstrap_form wizard.form %}
      {% buttons %}
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <button class="btn btn-primary pull-right" type="submit">{% trans "Next" %} {% bootstrap_icon "chevron-right" %}</button>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <a class="btn btn-default pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% bootstrap_icon "chevron-left" %} {% trans "Previous" %}</a>
        </div>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
