{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block step-password %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% bootstrap_icon "lock" %} {% trans "Set your password" %}</h3>
  </div>
  <div class="panel-body">
    <p>{% blocktrans %}Your password must be at least 10 characters long.{% endblocktrans %}</p>
    <form method="post" action="" class="form parsley">
      {% csrf_token %}
      <input type="hidden" name="ldapname" value="{{ forms.ldap.cleaned_data.username }}" class="personal">
      <input type="hidden" name="shellname" value="{{ forms.shell.cleaned_data.shellname }}" class="personal">
      <input type="hidden" name="ldapemail" value="{{ forms.email.cleaned_data.email }}" class="personal">
      <input type="hidden" name="sulname" value="{{ sul.username }}" class="personal">
      {{ wizard.management_form }}
      {% bootstrap_field wizard.form.passwd %}
      {% include "_password-strength-meter.html" %}
      {% bootstrap_field wizard.form.confirm %}
      {% buttons %}
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <button class="btn btn-primary pull-right" type="submit">{% trans "Next" %} {% bootstrap_icon "chevron-right" %}</button>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <a class="btn btn-default pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% bootstrap_icon "chevron-left" %} {% trans "Previous" %}</a>
        </div>
      </div>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}

{% block step_js %}
<script lang="javascript" src="{% static 'js/zxcvbn.min.js' %}"></script>
<script lang="javascript" src="{% static 'js/password-strength.js' %}"></script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
