{% extends "register/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block step-shell %}
<form method="post" action="" class="form parsley">
  {% csrf_token %}
  {{ wizard.management_form }}
  <span class="cdx-card">
    <span class="cdx-card__icon striker-icon--keyboard"></span>
    <span class="cdx-card__text">
      <span class="cdx-card__text__title">{% trans "Choose your UNIX shell username" %}</span>
      <span class="cdx-card__text__description">
        {% blocktrans with ssh="https://en.wikipedia.org/wiki/Secure_Shell" %}
        Your shell username will be used when logging into Toolforge and other Wikimedia VPS hosts using <a href="{{ ssh }}" class="striker-link">SSH</a>. This name is typically shorter than a wiki username. It must start with <code>a-z</code>, and can only contain lowercase <code>a-z</code>, <code>0-9</code> and <code>-</code> characters.
        {% endblocktrans %}
      </span>
      {% bootstrap_form wizard.form %}
      <span class="cdx-card__text__description">
        <button class="cdx-button cdx-button--weight-primary cdx-button--action-progressive pull-right" type="submit">{% trans "Next" %}</button>
        <a class="striker-link pull-left" href="{% url 'register:wizard' step=wizard.steps.prev %}">{% trans "Previous" %}</a>
      </span>
    </span>
  </span>
</form>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et:ft=htmldjango: #}
