{% extends "goals/base.html" %}
{% load i18n %}

{% block title %}{% trans "Connect with your Phabricator account" %}{% endblock %}

{% block body %}
<p>{% blocktrans %}Connect with your Phabricator account so that you can manage git repositories for your tools.{% endblocktrans %}</p>
<p class="text-muted">{% blocktrans with url=phab_url%}Login to <a href="{{ url }}">Phabricator</a> using your Wikimedia account or your LDAP account to create a new Phabricator account if you do not have one.{% endblocktrans %}</p>
<p><a href="{% url 'profile:phabricator_attach' %}?next=/" class="btn btn-default">{% trans "Connect now" %}</a></p>
{% endblock %}
