{% load bootstrap3 %}
{% load i18n %}
{% load tools %}
{% spaceless %}
  {% if rule.action == 'allow' %}
  <div class="text-success">{% bootstrap_icon 'ok-sign' %}
  {% else %}
  <div class="text-danger">{% bootstrap_icon 'remove-sign' %}
  {% endif %}
  {{ rule.action|capfirst }}
  {% if rule.rule == 'global' %}
    {{ policy.name }}
  {% elif rule.rule == 'PhabricatorProjectsPolicyRule' %}
    {% blocktrans count counter=rule.value|length %}
    members of the project
    {% plural %}
    members of projects
    {% endblocktrans %}
    {% for value in rule.value %}
      {% phab_project phids|get:value %}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% elif rule.rule == 'PhabricatorUsersPolicyRule' %}
    {% blocktrans count counter=rule.value|length %}
    user
    {% plural %}
    users
    {% endblocktrans %}
    {% for value in rule.value %}
      {% phab_user phids|get:value %}
      {% if not forloop.last %}<span>, </span>{% endif %}
    {% endfor %}
  {% elif rule.rule == 'PhabricatorLegalpadSignaturePolicyRule' %}
    {% blocktrans count counter=rule.value|length %}
    signers of legalpad document
    {% plural %}
    signers of legalpad documents
    {% endblocktrans %}
    {% for value in rule.value %}
      {% with pad=phids|get:value %}
        <a href="{{ pad.uri }}">{{ pad.name }}</a>
      {% endwith %}
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% elif rule.rule == 'PhabricatorLunarPhasePolicyRule' %}
    {% trans 'when the moon is' %} {{ rule.value }}
  {% else %}
    <pre>{{ rule|pprint }}</pre>
  {% endif %}
</div>
{% endspaceless %}
