{% load bootstrap3 %}
{% load i18n %}
{% load tools %}
{% if policy.type == 'global' %}
  {% bootstrap_icon 'globe' %} {{ policy.name }}
{% elif policy.type == 'project' %}
  {% bootstrap_icon 'briefcase' %} {% phab_project policy %}
{% elif policy.type == 'user' %}
  {% bootstrap_icon 'user' %} {% phab_user policy %}
{% elif policy.type == 'custom' %}
  {% bootstrap_icon 'certificate' %} {{ policy.name }}
  {% include "tools/templatetags/phab_policy_custom.html" %}
{% else %}
  {% bootstrap_icon 'question-sign' %} {{ policy.name }}
{% endif %}
